In [3]:
import pandas as pd

In [5]:
data  = [100, 102, 104]
series = pd.Series(data, index=["a. ", "b. ", "c. "])

In [7]:
print(series)

a.     100
b.     102
c.     104
dtype: int64

In [10]:
print(series.iloc[2])

104

In [12]:
calories = {"Day 1": 1750, "Day 2": 2200, "Day 3": 1800}
series = pd.Series(calories)

In [15]:
print(series[series > 2000])

Day 2    2200
dtype: int64

In [23]:
names = ["Bulbasaur", "Ivysaur", "Venusaur", "Charmander", "Charmeleon", "Charizard"]
my_series = pd.Series(names, index=[1, 2, 3, 4, 5, 6])

In [25]:
print(my_series)

1     Bulbasaur
2       Ivysaur
3      Venusaur
4    Charmander
5    Charmeleon
6     Charizard
dtype: object

In [30]:
data1 = {"Name": ["Spongebob", "Patrick", "Squidward"],
         "Age": [30, 35, 50]}
df = pd.DataFrame(data1, index=["Employee1", "Employee2", "Employee3"])

In [32]:
print(df)

                Name  Age
Employee1  Spongebob   30
Employee2    Patrick   35
Employee3  Squidward   50

In [34]:
print(df.loc["Employee3"])

Name    Squidward
Age            50
Name: Employee3, dtype: object

In [36]:
#Add a new column
df["Job"] = ["Cook", "NA", "Cashier"]
print(df)

                Name  Age      Job
Employee1  Spongebob   30     Cook
Employee2    Patrick   35       NA
Employee3  Squidward   50  Cashier

In [41]:
#Add a new row
new_row = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"}],
                      index=["Employee4"])
df = pd.concat([df, new_row])
print(df)

                Name  Age       Job
Employee1  Spongebob   30      Cook
Employee2    Patrick   35        NA
Employee3  Squidward   50   Cashier
0              Sandy   28  Engineer
Employee4      Sandy   28  Engineer
Employee4      Sandy   28  Engineer

In [43]:
#Add a new rows
new_rows = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"},
                       {"Name": "Eugene", "Age": 55, "Job": "Manager"}],
                      index=["Employee4", "Employee5"])
df = pd.concat([df, new_rows])
print(df)

                Name  Age       Job
Employee1  Spongebob   30      Cook
Employee2    Patrick   35        NA
Employee3  Squidward   50   Cashier
0              Sandy   28  Engineer
Employee4      Sandy   28  Engineer
Employee4      Sandy   28  Engineer
Employee4      Sandy   28  Engineer
Employee5     Eugene   55   Manager
Employee4      Sandy   28  Engineer
Employee5     Eugene   55   Manager

In [151]:
df1 = pd.read_csv("Data.csv")

In [59]:
print(df1)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [61]:
#Selection by column
print(df1["Name"])

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
145       Moltres
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
Name: Name, Length: 150, dtype: object

In [81]:
pokemon = input("Enter a Pokemon name: ")
try:
    print(df1.loc[pokemon])
except KeyError:
    print(f"{pokemon} not found")

Enter a Pokemon name:  Snorlax

No              143
Type1        Normal
Type2           NaN
Height          2.1
Weight        460.0
Legendary         0
Name: Snorlax, dtype: object

In [76]:
print(df1.loc["Charizard"])

No                6
Type1          Fire
Type2        Flying
Height          1.7
Weight         90.5
Legendary         0
Name: Charizard, dtype: object

In [85]:
#filtering is keeping the rows that match the condition
tall_pokemon = df1[df1["Height"] >= 2.0]
print(tall_pokemon)

      No        Name    Type1    Type2  Height  Weight  Legendary
2      3    Venusaur    Grass   Poison     2.0   100.0          0
22    23       Ekans   Poison      NaN     2.0     6.9          0
23    24       Arbok   Poison      NaN     3.5    65.0          0
94    95        Onix     Rock   Ground     8.8   210.0          0
102  103   Exeggutor    Grass  Psychic     2.0   120.0          0
114  115  Kangaskhan   Normal      NaN     2.2    80.0          0
129  130    Gyarados    Water   Flying     6.5   235.0          0
130  131      Lapras    Water      Ice     2.5   220.0          0
142  143     Snorlax   Normal      NaN     2.1   460.0          0
145  146     Moltres     Fire   Flying     2.0    60.0          1
147  148   Dragonair   Dragon      NaN     4.0    16.5          0
148  149   Dragonite   Dragon   Flying     2.2   210.0          0
149  150      Mewtwo  Psychic      NaN     2.0   122.0          1

In [87]:
heavy_pokemon = df1[df1["Weight"] >= 200]
print(heavy_pokemon)

      No       Name   Type1   Type2  Height  Weight  Legendary
75    76      Golem    Rock  Ground     1.4   300.0          0
94    95       Onix    Rock  Ground     8.8   210.0          0
129  130   Gyarados   Water  Flying     6.5   235.0          0
130  131     Lapras   Water     Ice     2.5   220.0          0
142  143    Snorlax  Normal     NaN     2.1   460.0          0
148  149  Dragonite  Dragon  Flying     2.2   210.0          0

In [90]:
legendary_pokemon = df1[df1["Legendary"] == True]
print(legendary_pokemon)

      No      Name     Type1   Type2  Height  Weight  Legendary
143  144  Articuno       Ice  Flying     1.7    55.4          1
144  145    Zapdos  Electric  Flying     1.6    52.6          1
145  146   Moltres      Fire  Flying     2.0    60.0          1
149  150    Mewtwo   Psychic     NaN     2.0   122.0          1

In [94]:
water_pokemon = df1[(df1["Type1"] == "Water") | (df1["Type2"] == "Water")]
print(water_pokemon)

      No        Name  Type1     Type2  Height  Weight  Legendary
6      7    Squirtle  Water       NaN     0.5     9.0          0
7      8   Wartortle  Water       NaN     1.0    22.5          0
8      9   Blastoise  Water       NaN     1.6    85.5          0
53    54     Psyduck  Water       NaN     0.8    19.6          0
54    55     Golduck  Water       NaN     1.7    76.6          0
59    60     Poliwag  Water       NaN     0.6    12.4          0
60    61   Poliwhirl  Water       NaN     1.0    20.0          0
61    62   Poliwrath  Water  Fighting     1.3    54.0          0
71    72   Tentacool  Water    Poison     0.9    45.5          0
72    73  Tentacruel  Water    Poison     1.6    55.0          0
78    79    Slowpoke  Water   Psychic     1.2    36.0          0
79    80     Slowbro  Water   Psychic     1.6    78.5          0
85    86        Seel  Water       NaN     1.1    90.0          0
86    87     Dewgong  Water       Ice     1.7   120.0          0
89    90    Shellder  Water       NaN     0.3     4.0          0
90    91    Cloyster  Water       Ice     1.5   132.5          0
97    98      Krabby  Water       NaN     0.4     6.5          0
98    99     Kingler  Water       NaN     1.3    60.0          0
115  116      Horsea  Water       NaN     0.4     8.0          0
116  117      Seadra  Water       NaN     1.2    25.0          0
117  118     Goldeen  Water       NaN     0.6    15.0          0
118  119     Seaking  Water       NaN     1.3    39.0          0
119  120      Staryu  Water       NaN     0.8    34.5          0
120  121     Starmie  Water   Psychic     1.1    80.0          0
128  129    Magikarp  Water       NaN     0.9    10.0          0
129  130    Gyarados  Water    Flying     6.5   235.0          0
130  131      Lapras  Water       Ice     2.5   220.0          0
133  134    Vaporeon  Water       NaN     1.0    29.0          0
137  138     Omanyte   Rock     Water     0.4     7.5          0
138  139     Omastar   Rock     Water     1.0    35.0          0
139  140      Kabuto   Rock     Water     0.5    11.5          0
140  141    Kabutops   Rock     Water     1.3    40.5          0

In [99]:
hard_pokemon = df1[(df1["Type1"] == "Rock") | (df1["Type2"] == "Ground")]
print(hard_pokemon)

      No        Name   Type1   Type2  Height  Weight  Legendary
30    31   Nidoqueen  Poison  Ground     1.3    60.0          0
33    34    Nidoking  Poison  Ground     1.4    62.0          0
73    74     Geodude    Rock  Ground     0.4    20.0          0
74    75    Graveler    Rock  Ground     1.0   105.0          0
75    76       Golem    Rock  Ground     1.4   300.0          0
94    95        Onix    Rock  Ground     8.8   210.0          0
137  138     Omanyte    Rock   Water     0.4     7.5          0
138  139     Omastar    Rock   Water     1.0    35.0          0
139  140      Kabuto    Rock   Water     0.5    11.5          0
140  141    Kabutops    Rock   Water     1.3    40.5          0
141  142  Aerodactyl    Rock  Flying     1.8    59.0          0

In [100]:
#aggregate functions reduces a set of values into a single summary value. often used with groupby() function
print(df1.mean(numeric_only=True))

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [102]:
print(df1.sum(numeric_only=True))

No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

In [104]:
print(df1.min(numeric_only=True))

No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

In [106]:
print(df1.max(numeric_only=True))

No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

In [108]:
print(df1.count())

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

In [110]:
print(df1["Height"].mean(numeric_only=True))

1.2

In [112]:
print(df1["Weight"].max(numeric_only=True))

460.0

In [116]:
#groupby() function
group = df1.groupby("Type1")
print(group["Height"].mean())

Type1
Bug         0.900000
Dragon      2.666667
Electric    0.855556
Fairy       0.950000
Fighting    1.185714
Fire        1.216667
Ghost       1.466667
Grass       1.083333
Ground      0.850000
Ice         1.550000
Normal      0.986364
Poison      1.221429
Psychic     1.371429
Rock        1.844444
Water       1.300000
Name: Height, dtype: float64

In [118]:
print(group["Height"].sum())

Type1
Bug         10.8
Dragon       8.0
Electric     7.7
Fairy        1.9
Fighting     8.3
Fire        14.6
Ghost        4.4
Grass       13.0
Ground       6.8
Ice          3.1
Normal      21.7
Poison      17.1
Psychic      9.6
Rock        16.6
Water       36.4
Name: Height, dtype: float64

In [120]:
print(group["Height"].min())

Type1
Bug         0.3
Dragon      1.8
Electric    0.3
Fairy       0.6
Fighting    0.5
Fire        0.6
Ghost       1.3
Grass       0.4
Ground      0.2
Ice         1.4
Normal      0.3
Poison      0.4
Psychic     0.9
Rock        0.4
Water       0.3
Name: Height, dtype: float64

In [123]:
print(group["Height"].max())

Type1
Bug         1.5
Dragon      4.0
Electric    1.6
Fairy       1.3
Fighting    1.6
Fire        2.0
Ghost       1.6
Grass       2.0
Ground      1.9
Ice         1.7
Normal      2.2
Poison      3.5
Psychic     2.0
Rock        8.8
Water       6.5
Name: Height, dtype: float64

In [128]:
#Data cleaning is the process of fixing/removing incomplete, incorrect, or irrelevant data
#Drop irrelevant columns
df1 = df1.drop(columns=["No"])
print(df1)

           Name    Type1   Type2  Height  Weight
0     Bulbasaur    Grass  Poison     0.7     6.9
1       Ivysaur    Grass  Poison     1.0    13.0
2      Venusaur    Grass  Poison     2.0   100.0
3    Charmander     Fire     NaN     0.6     8.5
4    Charmeleon     Fire     NaN     1.1    19.0
..          ...      ...     ...     ...     ...
145     Moltres     Fire  Flying     2.0    60.0
146     Dratini   Dragon     NaN     1.8     3.3
147   Dragonair   Dragon     NaN     4.0    16.5
148   Dragonite   Dragon  Flying     2.2   210.0
149      Mewtwo  Psychic     NaN     2.0   122.0

[150 rows x 5 columns]

In [137]:
#Handle missing data 
#dropna = drop not available

#Method 1
#df1 = df1.dropna(subset = ["Type2"])

#Method 2
df1 = df1.fillna({"Type2": "None"})
print(df1.to_string())

      No        Name     Type1     Type2  Height  Weight  Legendary
0      1   Bulbasaur     GRASS    Poison     0.7     6.9          0
1      2     Ivysaur     GRASS    Poison     1.0    13.0          0
2      3    Venusaur     GRASS    Poison     2.0   100.0          0
3      4  Charmander      Fire      None     0.6     8.5          0
4      5  Charmeleon      Fire      None     1.1    19.0          0
5      6   Charizard      Fire    Flying     1.7    90.5          0
6      7    Squirtle     Water      None     0.5     9.0          0
7      8   Wartortle     Water      None     1.0    22.5          0
8      9   Blastoise     Water      None     1.6    85.5          0
9     10    Caterpie       Bug      None     0.3     2.9          0
10    11     Metapod       Bug      None     0.7     9.9          0
11    12  Butterfree       Bug    Flying     1.1    32.0          0
12    13      Weedle       Bug    Poison     0.3     3.2          0
13    14      Kakuna       Bug    Poison     0.6    10.0          0
14    15    Beedrill       Bug    Poison     1.0    29.5          0
15    16      Pidgey    Normal    Flying     0.3     1.8          0
16    17   Pidgeotto    Normal    Flying     1.1    30.0          0
17    18     Pidgeot    Normal    Flying     1.5    39.5          0
18    19     Rattata    Normal      None     0.3     3.5          0
19    20    Raticate    Normal      None     0.7    18.5          0
20    21     Spearow    Normal    Flying     0.3     2.0          0
21    22      Fearow    Normal    Flying     1.2    38.0          0
22    23       Ekans    Poison      None     2.0     6.9          0
23    24       Arbok    Poison      None     3.5    65.0          0
24    25     Pikachu  Electric      None     0.4     6.0          0
25    26      Raichu  Electric      None     0.8    30.0          0
26    27   Sandshrew    Ground      None     0.6    12.0          0
27    28   Sandslash    Ground      None     1.0    29.5          0
28    29    Nidoran♀    Poison      None     0.4     7.0          0
29    30    Nidorina    Poison      None     0.8    20.0          0
30    31   Nidoqueen    Poison    Ground     1.3    60.0          0
31    32    Nidoran♂    Poison      None     0.5     9.0          0
32    33    Nidorino    Poison      None     0.9    19.5          0
33    34    Nidoking    Poison    Ground     1.4    62.0          0
34    35    Clefairy     Fairy      None     0.6     7.5          0
35    36    Clefable     Fairy      None     1.3    40.0          0
36    37      Vulpix      Fire      None     0.6     9.9          0
37    38   Ninetales      Fire      None     1.1    19.9          0
38    39  Jigglypuff    Normal     Fairy     0.5     5.5          0
39    40  Wigglytuff    Normal     Fairy     1.0    12.0          0
40    41       Zubat    Poison    Flying     0.8     7.5          0
41    42      Golbat    Poison    Flying     1.6    55.0          0
42    43      Oddish     GRASS    Poison     0.5     5.4          0
43    44       Gloom     GRASS    Poison     0.8     8.6          0
44    45   Vileplume     GRASS    Poison     1.2    18.6          0
45    46       Paras       Bug     Grass     0.3     5.4          0
46    47    Parasect       Bug     Grass     1.0    29.5          0
47    48     Venonat       Bug    Poison     1.0    30.0          0
48    49    Venomoth       Bug    Poison     1.5    12.5          0
49    50     Diglett    Ground      None     0.2     0.8          0
50    51     Dugtrio    Ground      None     0.7    33.3          0
51    52      Meowth    Normal      None     0.4     4.2          0
52    53     Persian    Normal      None     1.0    32.0          0
53    54     Psyduck     Water      None     0.8    19.6          0
54    55     Golduck     Water      None     1.7    76.6          0
55    56      Mankey  Fighting      None     0.5    28.0          0
56    57    Primeape  Fighting      None     1.0    32.0          0
57    58   Growlithe      Fire      None     0.7    19.0          0
58    59    Arcanine      Fire      None     1.9   155.0          0
59    60     Poliwag     Water      None     0.6    12.4          0
60    61   Poliwhirl     Water      None     1.0    20.0          0
61    62   Poliwrath     Water  Fighting     1.3    54.0          0
62    63        Abra   Psychic      None     0.9    19.5          0
63    64     Kadabra   Psychic      None     1.3    56.5          0
64    65    Alakazam   Psychic      None     1.5    48.0          0
65    66      Machop  Fighting      None     0.8    19.5          0
66    67     Machoke  Fighting      None     1.5    70.5          0
67    68     Machamp  Fighting      None     1.6   130.0          0
68    69  Bellsprout     GRASS    Poison     0.7     4.0          0
69    70  Weepinbell     GRASS    Poison     1.0     6.4          0
70    71  Victreebel     GRASS    Poison     1.7    15.5          0
71    72   Tentacool     Water    Poison     0.9    45.5          0
72    73  Tentacruel     Water    Poison     1.6    55.0          0
73    74     Geodude      Rock    Ground     0.4    20.0          0
74    75    Graveler      Rock    Ground     1.0   105.0          0
75    76       Golem      Rock    Ground     1.4   300.0          0
76    77      Ponyta      Fire      None     1.0    30.0          0
77    78    Rapidash      Fire      None     1.7    95.0          0
78    79    Slowpoke     Water   Psychic     1.2    36.0          0
79    80     Slowbro     Water   Psychic     1.6    78.5          0
80    81   Magnemite  Electric     Steel     0.3     6.0          0
81    82    Magneton  Electric     Steel     1.0    60.0          0
82    83  Farfetch'd    Normal    Flying     0.8    15.0          0
83    84       Doduo    Normal    Flying     1.4    39.2          0
84    85      Dodrio    Normal    Flying     1.8    85.2          0
85    86        Seel     Water      None     1.1    90.0          0
86    87     Dewgong     Water       Ice     1.7   120.0          0
87    88      Grimer    Poison      None     0.9    30.0          0
88    89         Muk    Poison      None     1.2    30.0          0
89    90    Shellder     Water      None     0.3     4.0          0
90    91    Cloyster     Water       Ice     1.5   132.5          0
91    92      Gastly     Ghost    Poison     1.3     0.1          0
92    93     Haunter     Ghost    Poison     1.6     0.1          0
93    94      Gengar     Ghost    Poison     1.5    40.5          0
94    95        Onix      Rock    Ground     8.8   210.0          0
95    96     Drowzee   Psychic      None     1.0    32.4          0
96    97       Hypno   Psychic      None     1.6    75.6          0
97    98      Krabby     Water      None     0.4     6.5          0
98    99     Kingler     Water      None     1.3    60.0          0
99   100     Voltorb  Electric      None     0.5    10.4          0
100  101   Electrode  Electric      None     1.2    66.6          0
101  102   Exeggcute     GRASS   Psychic     0.4     2.5          0
102  103   Exeggutor     GRASS   Psychic     2.0   120.0          0
103  104      Cubone    Ground      None     0.4     6.5          0
104  105     Marowak    Ground      None     1.0    45.0          0
105  106   Hitmonlee  Fighting      None     1.5    49.8          0
106  107  Hitmonchan  Fighting      None     1.4    50.2          0
107  108   Lickitung    Normal      None     1.2    65.5          0
108  109     Koffing    Poison      None     0.6     1.0          0
109  110     Weezing    Poison      None     1.2     9.5          0
110  111     Rhyhorn    Ground      Rock     1.0   115.0          0
111  112      Rhydon    Ground      Rock     1.9   120.0          0
112  113     Chansey    Normal      None     1.1    34.6          0
113  114     Tangela     GRASS      None     1.0    35.0          0
114  115  Kangaskhan    Normal      None     2.2    80.0          0
115  116      Horsea     Water      None     0.4     8.0          0
116  117      Seadra     Water      None     1.2    25.0          0
117  118     Goldeen     Water      None     0.6    15.0          0
118  119     Seaking     Water      None     1.3    39.0          0
119  120      Staryu     Water      None     0.8    34.5          0
120  121     Starmie     Water   Psychic     1.1    80.0          0
121  122    Mr. Mime   Psychic     Fairy     1.3    54.5          0
122  123     Scyther       Bug    Flying     1.5    56.0          0
123  124        Jynx       Ice   Psychic     1.4    40.6          0
124  125  Electabuzz  Electric      None     1.1    30.0          0
125  126      Magmar      Fire      None     1.3    44.5          0
126  127      Pinsir       Bug      None     1.5    55.0          0
127  128      Tauros    Normal      None     1.4    88.4          0
128  129    Magikarp     Water      None     0.9    10.0          0
129  130    Gyarados     Water    Flying     6.5   235.0          0
130  131      Lapras     Water       Ice     2.5   220.0          0
131  132       Ditto    Normal      None     0.3     4.0          0
132  133       Eevee    Normal      None     0.3     6.5          0
133  134    Vaporeon     Water      None     1.0    29.0          0
134  135     Jolteon  Electric      None     0.8    24.5          0
135  136     Flareon      Fire      None     0.9    25.0          0
136  137     Porygon    Normal      None     0.8    36.5          0
137  138     Omanyte      Rock     Water     0.4     7.5          0
138  139     Omastar      Rock     Water     1.0    35.0          0
139  140      Kabuto      Rock     Water     0.5    11.5          0
140  141    Kabutops      Rock     Water     1.3    40.5          0
141  142  Aerodactyl      Rock    Flying     1.8    59.0          0
142  143     Snorlax    Normal      None     2.1   460.0          0
143  144    Articuno       Ice    Flying     1.7    55.4          1
144  145      Zapdos  Electric    Flying     1.6    52.6          1
145  146     Moltres      Fire    Flying     2.0    60.0          1
146  147     Dratini    Dragon      None     1.8     3.3          0
147  148   Dragonair    Dragon      None     4.0    16.5          0
148  149   Dragonite    Dragon    Flying     2.2   210.0          0
149  150      Mewtwo   Psychic      None     2.0   122.0          1

In [142]:
#Fix inconsistent values,

df1["Type1"] = df1["Type1"].replace({"Grass":"GRASS",
                                    "Fire":"FIRE",
                                    "Water":"WATER"})
print(df1)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    GRASS  Poison     0.7     6.9          0
1      2     Ivysaur    GRASS  Poison     1.0    13.0          0
2      3    Venusaur    GRASS  Poison     2.0   100.0          0
3      4  Charmander     FIRE     NaN     0.6     8.5          0
4      5  Charmeleon     FIRE     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     FIRE  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [147]:
#Standardize text
df1["Name"] = df1["Name"].str.lower()
print(df1)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    Grass  Poison     0.7     6.9          0
1      2     ivysaur    Grass  Poison     1.0    13.0          0
2      3    venusaur    Grass  Poison     2.0   100.0          0
3      4  charmander     Fire     NaN     0.6     8.5          0
4      5  charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0          1
146  147     dratini   Dragon     NaN     1.8     3.3          0
147  148   dragonair   Dragon     NaN     4.0    16.5          0
148  149   dragonite   Dragon  Flying     2.2   210.0          0
149  150      mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

In [148]:
#Fix data types
df1["Legendary"] = df1["Legendary"].astype(bool)
print(df1)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   bulbasaur    Grass  Poison     0.7     6.9      False
1      2     ivysaur    Grass  Poison     1.0    13.0      False
2      3    venusaur    Grass  Poison     2.0   100.0      False
3      4  charmander     Fire     NaN     0.6     8.5      False
4      5  charmeleon     Fire     NaN     1.1    19.0      False
..   ...         ...      ...     ...     ...     ...        ...
145  146     moltres     Fire  Flying     2.0    60.0       True
146  147     dratini   Dragon     NaN     1.8     3.3      False
147  148   dragonair   Dragon     NaN     4.0    16.5      False
148  149   dragonite   Dragon  Flying     2.2   210.0      False
149  150      mewtwo  Psychic     NaN     2.0   122.0       True

[150 rows x 7 columns]

In [153]:
#Remove duplicate values
df1 = df1.drop_duplicates()
print(df1)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
4      2     Ivysaur    Grass  Poison     1.0    13.0          0
5      3    Venusaur    Grass  Poison     2.0   100.0          0
6      4  Charmander     Fire     NaN     0.6     8.5          0
7      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
148  146     Moltres     Fire  Flying     2.0    60.0          1
149  147     Dratini   Dragon     NaN     1.8     3.3          0
150  148   Dragonair   Dragon     NaN     4.0    16.5          0
151  149   Dragonite   Dragon  Flying     2.2   210.0          0
152  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]